<link href="../static/style/nav_bar.css" rel="stylesheet" type="text/css">
<div id="header">
    <a id="logo" onclick="change_location('/')">
        <i class="fas fa-paw"></i>
        SHOP
    </a>
    <div id="icons">
        <% if (session.logged) { %>
            <i class="fas fa-shopping-cart" onclick="change_location('/cart')"></i>
            <i class="fas fa-sign-out-alt" onclick="change_location('/logout')"></i>
        <% } else { %>
            <i class="fas fa-sign-in-alt" onclick="change_location('/login')"></i>
        <% } %>
    </div>
    <div id="clear"></div>
</div>
<script>
    var clicked = false;
    function change_location(x){
        console.log(x)
        location = x;
    }
</script>
