<%- include('components/nav_bar') %>
<script src="https://kit.fontawesome.com/b1c674bb0b.js" crossorigin="anonymous"></script>
  <link href="../static/style/login.css" rel="stylesheet" type="text/css">
  <div id="lg">
    <form id="login" action="/login" method="post" enctype="multipart/form-data">
      <label id="log_in">Log in to SHOP</label>
      <input type="text" name="username" placeholder="username">
      <input type="text" name="password" placeholder="password">
      <button id="login_submit" type="submit">log in</button><br>
      <label id="to_register" onclick="location='/register'">If you don't have account yet, click here to register</label>
    </form>
  </div>
<% if (err) { %>
  <div><%- err %></div>
<% } %>
<%- include('components/footer') %>