@import "style.css";

input{
    padding:1em;
    margin-top: 1em;
    font-size: var(--font_size_1);
    background-color: var(--main_bg);
    border: solid var(--third_bg);
    border-radius: 10px;
    height: 2em;
    width: 100%;
}

#reg{
    padding-top: 10em;
    font-size: var(--font_size_3);
}

#register_submit{
    margin: 1em;
    padding: 0.5em 1.5em;
    font-size: var(--font_size_2);
    background-color: var(--third_bg);
    border: solid var(--third_bg);
    border-radius: 10px;
}

#register_submit:hover{
    color: var(--main_bg);
}

#to_login{
    font-size: var(--font_size_2);
    color:white;
}

#to_login:hover{
    text-decoration: underline;
}

#rg{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}
#register{
    text-align: center;
    height: max-content;
    width:30%;
    padding: 2em;
    background-color: var(--second_bg);
    border: var(--third_bg) solid;
    border-radius: 20px;
    display: block;
}